/* All of the Website */
*{
    box-sizing: border-box;
}
img {
    width: 100%;
}
body {
    background-color: #f1f0de;
}


/* NAVBAR */
    /*More fonts that can be used*/

    /*font-family: 'Luckiest Guy', cursive;*/
    /*font-family: 'Unica One', cursive;*/
    /*font-family: 'Permanent Marker', cursive;*/
.navbar {
    background-color: #EE6352;
}
.projectName {
    font-size: 30px;
    font-family: 'Rock Salt', cursive;
    color: #EFE9F4;
}
.nav-menu a {
    color: white;
}


/* WEBSITE PAGE */
.welcomeBackground {
    /*background-image: url("/img/linedpaper/linedpaper.png");*/
    /*background-image: url("/img/handcircle_wallpaper.png");*/
    /*background-image: url("/img/Notebook.png");*/
    /*background-image: url("/img/SlaveKingGod.png");*/
    background-image: url("/img/yell_wallpaper.png");
    /*background-image: url("/img/41738_nature_dark_green_grass.jpg");*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 30px;
}
.welcomeIcon {
    width: 115px;
}
.welcomeContent {
    margin-left: 40px;
}
.about {
    /*margin-top: 20px;*/
    /*color: white;*/
}
/*.welcomeContent div{
    margin-top: 40px;
}*/
.welcomeTitle {
    font-family: 'Luckiest Guy', cursive;
    /*color: white;*/
}
.howDoesItWork {
    margin-left: 80px;
    /*color: white;*/
}
.toGetStarted {
    margin-left: 180px;
    /*color: white;*/
}
.sign-up{
    background-color: dodgerblue;
    margin-left: 550px;
    color: white;
}


/* WORKOUT PAGE */
.square1 {
    background-color: #007820;
    background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
    height: 390px;
}
.square2 {
    background-color:white;
}
.exercise-name {
    padding: 60px;
    text-align: center;
    font-size: 32px;
}
.exercise-description {
    text-align: center;
    padding: 0px 20px 0px 20px;
}
.square3 {
    background-color: #c94932;
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
    height: 390px;
}
.square4 {
    background-color: lightgreen;
}
#output {
	font-size: 4.5em;
    padding: 80px 0px 0px 50px;
}
.workoutImage {
    width: 480px;
    height: 384px;
}
.total-timer {
    padding-left: 90px;
    color: white;
}
.block-timer {
    padding-left: 90px;
    color: white;
}
button {
	font-size: 30px;
	width: 140px;
	height: 60px;
    padding-left: 20px;
	border-radius: 5px;
}
#startPause {
   	background-color: green;
	border-color: green;
}
#controls {
     padding: 0px 0px 0px 165px;
}

/* USER_PROFILE */

/* FIRSTQ */
.is-question {
    padding-bottom: 35px;
}
.is-firstq {
    /*margin: 0px 0px 0px 30px;*/
    padding: 20px 30px 20px 30px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    background-color: whitesmoke;
}
.reminders {
    /*padding-bottom: 90px;*/
}

/* FINALQ */