/* All of the Website */
*{
    box-sizing: border-box;
}
img {
    width: 100%;
}
body {
    background-color: #f1f0de;
}


/* NAVBAR */
    /*More fonts that can be used*/

    /*font-family: 'Luckiest Guy', cursive;*/
    /*font-family: 'Unica One', cursive;*/
    /*font-family: 'Permanent Marker', cursive;*/
.navbar {
    background-color: #EE6352;
}
.projectName {
    font-size: 30px;
    font-family: 'Rock Salt', cursive;
    color: #1A535C;
}
.nav-menu a {
    color: white;
}


/* WEBSITE PAGE */
.welcomeBackground {
    /*background-image: url("/img/linedpaper/linedpaper.png");*/
    /*background-image: url("/img/handcircle_wallpaper.png");*/
    /*background-image: url("/img/Notebook.png");*/
    /*background-image: url("/img/SlaveKingGod.png");*/
    background-image: url("/img/yell_wallpaper.png");
    /*background-image: url("/img/41738_nature_dark_green_grass.jpg");*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 400px 30px;
    padding-bottom: 80px;
    padding-left: 40px;
}
.welcomeIcon {
    width: 115px;
}
.welcomeContent {
    padding-top: 20px;
    margin-left: 40px;
}
.about {
    padding: 5px;
    font-size: 18px;
    /*margin-top: 20px;*/
    /*color: white;*/
}
/*.welcomeContent div{
    margin-top: 40px;
}*/
.about-title{
    position: absolute;
    margin-top: 40px;
}
.welcomeTitle {
    font-family: 'Luckiest Guy', cursive;
    /*color: white;*/
}
.howDoesItWork {
    padding: 5px;
    margin-left: 80px;
    font-size: 18px;
    /*color: white;*/
}
.toGetStarted {
    padding: 5px;
    margin-left: 180px;
    font-size: 18px;
    /*color: white;*/
}
.sign-up{
    background-color: dodgerblue;
    margin-left: 200px;
    color: white;
}


/* WORKOUT PAGE */
.square1 {
    background-color: #007820;
    background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
    height: 390px;
}
.square2 {
    background-color:white;
}
.current-next {
    text-align: center;
}
.exercise-name {
    margin: 60px;
    text-align: center;
    font-size: 32px;
    border: solid;
    border-color: black;
    background-color: black;
    color: white;
}
.exercise-description {
    text-align: center;
    padding: 0px 20px 0px 20px;
}
.square3 {
    background-color: #c94932;
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
    height: 390px;
}
.square4 {
    background-color: lightgreen;
}
#output {
	font-size: 4.5em;
    padding: 80px 0px 0px 50px;
}
.workoutImage {
    width: 480px;
    height: 384px;
}
.total-timer {
    padding-left: 90px;
    color: white;
}
.block-timer {
    padding-left: 90px;
    color: white;
}
button {
	font-size: 30px;
	width: 140px;
	height: 60px;
    padding-left: 20px;
	border-radius: 5px;
}
#startPause {
   	background-color: green;
	border-color: green;
}
#controls {
     padding: 0px 0px 0px 165px;
}
#start {
    padding-right: 10px;
}
/* Modal */
.overlay-background {
    background-color: rgba (0,0,0,0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    overflow-y: auto;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.overlay-backround.hidden {
    opacity: 0;
}
.overlay {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    background-color: white;
    width: 50vw;
    min-width: 300px;
    /*height: 50vh;*/
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    padding: 20px 30px;
}



/* USER_PROFILE */
.is-workout-button {
    padding-top: 40px;
}
.workout-button {
    height: 100px;
    width: 680px;
    background-color: #1A535C;
    color: white;
}
.workout-button:hover {
    background-color: #80ced7 ;
}
.twitter-chart {
    padding: 100px 250px 50px 250px;
}

/* FIRSTQ */
.is-question {
    /*padding-top: 20px;*/
    padding-bottom: 85px;
}
.is-firstq {
    /*margin: 0px 0px 0px 30px;*/
    padding: 20px 30px 20px 30px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    background-color: whitesmoke;
}
.reminders {
    /*padding-bottom: 90px;*/
}

